<button mat-icon-button class="close-button">
  <mat-icon (click)="onClose()" class="close-icon" color="warn">close</mat-icon>
</button>
<h2 class="pl-2">Appointment Data</h2>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item>
      First Name: {{appointmentData.firstName ? appointmentData.firstName : 'N/A'}}
    </mat-list-item>
    <mat-list-item>
      Last Name: {{appointmentData.lastName ? appointmentData.lastName : 'N/A'}}
    </mat-list-item>
    <mat-list-item>
      Email: {{appointmentData.email ? appointmentData.email : 'N/A'}}
    </mat-list-item>
    <mat-list-item>
      Age: {{appointmentData.age ? appointmentData.age : 'N/A'}}
    </mat-list-item>
    <mat-list-item>
      Gender: {{appointmentData.gender ? appointmentData.gender : 'N/A'}}
    </mat-list-item>
    <mat-list-item>
      Date: {{appointmentData.date ? appointmentData.date : 'N/A'}}
    </mat-list-item>
    <mat-list-item>
      Time: {{appointmentData.time ? appointmentData.time : 'N/A'}}
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
