<div class="dialog">
  <h2 mat-dialog-title>Appointment</h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error *ngIf="checkError('firstName', 'required')">First Name is required</mat-error>
          <mat-error *ngIf="checkError('firstName', 'maxlength')">First Name should be less than 40 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="checkError('lastName', 'required')">Last Name is required</mat-error>
          <mat-error *ngIf="checkError('lastName', 'maxlength')">Last Name should be less than 40 characters</mat-error>
        </mat-form-field>
      </div>

      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          <mat-error *ngIf="checkError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="checkError('email', 'email')">Invalid Email Address</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <ng-container *ngFor="let gender of genders">
              <mat-option [value]="gender">{{ gender }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-col">
        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age"/>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label>Date</mat-label>
          <input type="date" matInput formControlName="date" />
          <mat-error *ngIf="checkError('date', 'required')">Date is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34">
          <mat-label>Time</mat-label>
          <input type="time" matInput formControlName="time" />
          <mat-error *ngIf="checkError('time', 'required')">Time is required</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
