<div class="container mx-auto mt-10">
  <div class="wrapper bg-white rounded shadow w-full">
    <div class="flex-col md:flex-row header flex justify-between border-b p-2">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Month</mat-label>
          <mat-select [(value)]="selectedValue">
            <mat-option
              *ngFor="let month of months"
              [value]="month.id"
              (click)="onMonth(month.id)"
            >
              {{ month.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button
          (click)="createNewAppointment()"
          class="bg-gray-600 hover:bg-gray-800 text-lg text-white py-2 px-4 rounded"
        >
          Create Appointment
        </button>
      </div>
    </div>

    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-8 p-2 gap-2"
    >
      <div
        *ngFor="let item of items; let i = index"
        class="flex flex-col h-40 mx-auto w-40 border p-1 overflow-auto transition duration-500 ease hover:bg-gray-300"
      >
        <div *ngIf="i < 31" class="top h-5 w-full">
          <span class="text-gray-500">{{ i + 1 }}</span>
        </div>
        <div
          *ngIf="item.data.length > 0"
          class="bottom flex-grow h-30 py-1 w-full cursor-pointer hover:overflow-y-scroll"
        >
          <div
            *ngFor="let data of item.data; let i = index"
            (click)="onAppointment(data)"
            class="event bg-[#6470ab] hover:bg-[#344182] text-white rounded p-1 text-sm mb-1"
          >
            <span class="event-name"> Appointment {{ i + 1 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
